
.redButton a {
    background: #ff7878;
    margin: 25px 0 20px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    position: relative;
    display: block;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
    word-wrap: break-word;
    font-weight: bold;
}

    .redButton a:hover,
    .redButton a:focus {
        color: #ffffff;
        background-color: #EB5252;
    }

/*
    Login Panel
*/
.loginPanel {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*
    End of Login Panel    
*/
.section-title {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

/*
    Dashboard Information    
*/

.dashboardUserPanel .dashboardUserInfo {
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    height: 100%;
}

.dashboardUserPanel h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.dashboardUserPanel ul {
    text-align: left;
    margin: 0;
    padding: 10px 20px;
}

    .dashboardUserPanel ul li {
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    .dashboardUserPanel ul li ul{
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    .dashboardUserPanel ul li ul li{
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
/*
    End of Dashboard
*/

/*
    Dashboard History    
*/
.dashboardHistoryPanel .dashboardUserInfo {
    background-color: white;
    border: 1px solid #ccc;
}

.dashboardHistoryPanel h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.dashboardHistoryPanel ul {
    text-align: left;
    margin: 0;
    padding: 10px 20px;
}

    .dashboardHistoryPanel ul li {
        margin: 0;
        padding: 0px 0;
        list-style: none;
    }
    .dashboardHistoryPanel ul li ul{
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    .dashboardHistoryPanel ul li ul li{
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
/*
    End of Dashboard History
*/
/*
    Log Panel    
*/
.logPanel {
    padding-top: 40px;
}

    .logPanel .pricing-option {
        padding-bottom: 40px;
    }

        .logPanel .pricing-option .pricing-top {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background: #fff;
            box-sizing: border-box;
            color: #2d2d2d;
            font-weight: bold;
            padding: 40px 20px 40px 20px;
            position: relative;
            text-align: center;
            border: 1px solid #e0e0e0;
        }

.logPanel {
    margin-bottom: 40px;
}

    .logPanel .logOption {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #fff;
        box-sizing: border-box;
        color: #2d2d2d;
        font-weight: bold;
        padding: 40px 20px 40px 20px;
        position: relative;
        text-align: center;
        border: 1px solid #e0e0e0;
        display: block;
    }

        .logPanel .logOption p {
            font-weight: normal;
        }
/*
    End of Log Panel    
*/

/*
    Food List    
*/
.foodList table {
    text-align: left;
}
/*k
    End of Food List    
*/

/*
    History Item    
*/

.historyItemPanel {
    height: 80px;
    border-bottom: #f2f2f2;
}

    .historyItemPanel .itemImage {
    }

        .historyItemPanel .itemImage img {
            margin: auto auto;
            height: 100%;
            width: 100%;
        }

    .historyItemPanel .itemInfo {
    }

/*
    End History Item    
*/
