<div id="f">
    <div class="row centered">
        <p>&copy; @DateTime.Now.Year - Calorie Tracker</p>
        <p>Created By <a href="http://jonnypillar.co.uk">Jonny Pillar</a> All Rights Reserved</p>
    </div>
</div>
