@{
    ViewBag.Title = "History";
}
<div id="blue">
    <div class="centered">
        <h2>Your History</h2>
        <p>Your Recent History</p>
    </div>
</div>

<div class="row">
    <div class="container">
        <script type="text/javascript">
            $(document).ready(function () {
                loadNutrientInfo(undefined, "");
            });


            function loadNutrientInfo(pageNumber, message) {
                toggleLoadingPanel(message);
                var $detailDiv = $('#historyDataPanel'),
                    url = '@Url.Action("GetUserHistory", "Log")/' + pageNumber;
                $.get(url, function (data) {
                    $detailDiv.html(data);
                    toggleLoadingPanel();
                    setUpPagnationEvent();
                });

            }

            function setUpPagnationEvent() {
                $(".userHistoryPanel .pagination li a").unbind();
                $(".userHistoryPanel .pagination li a").click(function (event) {
                    event.preventDefault();
                    loadPagedPage(this);
                });
            }

            function loadPagedPage(item) {
                var pageNumber = $(item).text();
                loadNutrientInfo(pageNumber, "Loading Page " + pageNumber);
            }
            
            function toggleLoadingPanel(message) {
                if (message != "") $("#loadingPanel h2").text(message);
                else $("#loadingPanel h2").text("Loading Your History...");
                $("#loadingPanel").toggle();
                $('html, body').animate({
                    scrollTop: $("html").offset().top
                }, 200);
            }
        </script>
        <div>
            <div class="row centered">
                <div id="loadingPanel" class="col-sm-6 col-sm-offset-3" hidden="hidden">
                    <h2></h2>
                    <img src="~/Content/img/ajax-loader.gif" alt="Loading Please Wait" />
                </div>
            </div>
            <div id="historyDataPanel">
            </div>
        </div>
    </div>
</div>