@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>
<span>Please Choose A Category To Log</span>
<ul>
    <li>@Html.ActionLink("Activty", "Index", "Activity")</li>
    <li> @Html.ActionLink("Food", "Index", "Food") </li>
    <li>@Html.ActionLink("Metric", "Index", "Metric")</li>
</ul>