@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>
<span>Please Choose A Category To Log</span>
<ul>
    <li>@Html.ActionLink("Activty", "Create", "ActivityLog")</li>
    <li> @Html.ActionLink("Food", "Create", "FoodLog") </li>
    <li>@Html.ActionLink("Metric", "Create", "MetricLog")</li>
</ul>