@model CalorieTracker.ViewModels.LogModel
@{
    ViewBag.Title = "Log";
}
<div class="logPanel">
    @*Log Menu*@
    <div class="logChoiceBar">
        <a id="food" href="#">Log Food</a> 
        <a id="activity" href="#">Log Activity</a> 
        <a id="metric" href="#">Log Metric</a>
    </div>
    <div class="logStatsPanel">
        @Html.Partial("_LogStatPartial", Model.logStat)
    </div>
    <div class="logInputPanel">
        @*Food Log Panel*@
        <div id="foodPanel" class="logChoicePanel">
            @Html.Partial("_LogFoodPartial", Model.logFood)
        </div>
        @*Activity Log Panel*@
        <div id="activityPanel" class="logChoicePanel">
            @Html.Partial("_LogActivityPartial", Model.logActivity)
        </div>
        @*Metric Log Panel*@
        <div id="metricPanel" class="logChoicePanel">
            @Html.Partial("_LogUserInformationPartial", Model.logMetric)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".logChoicePanel").not(":eq(0)").hide();
        $(".logChoiceBar a").each(function (count) {
            $(this).click(function (event) {
                event.preventDefault();
                if (!$(".logChoicePanel").eq(count).is(":visible")) {
                    $(".logChoicePanel").not(":eq(" + count + ")").hide();
                    $(".logChoicePanel").eq(count).show();
                }
            });
        });
    });
</script>
