@using CalorieTracker.Models;
@model System.Collections.Generic.List<tbl_food_log>
<h3>Food Log</h3>
@foreach (tbl_food_log item in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.tbl_food.food_name): </li>
        <li>
            @Html.DisplayFor(modelItem => item.food_log_quantity)
        </li>
    </ul>
}