@model CalorieTracker.Models.ViewModels.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Welcome To The Dashboard</h2>

<div class="dashboardPanel container">
    @if (Model.IsNewUser)
    {
        @Html.Partial("PartialViews/_NewUserWelcomeBar", Model.DashboardUser)
    }
    <div class="container">
        <div class="dashboardLogPanel col-xs-12 col-sm-4 col-sm-offset-4">
            @Html.ActionLink("Add A New Log", "Index", "Log")
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("PartialViews/_UserInfomation", Model.DashboardUser)
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("PartialViews/_UserLogHistory", Model.DashboardUser)
    </div>
</div>