@model CalorieTracker.ViewModels.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}
@*User Information Panel*@
<div class="dashboardInfoPanel">
    <div class="dashboardInfoBar">
        @*Progress Bar*@
        <div class="dashboardInfoProgress">
            <h2>My Progress</h2>
            <div class="dashboardInfoProgressBar">
            </div>
        </div>
        @*User Information*@
        <div class="dashboardInfoUserInfo">
            @Html.Partial("_DashboardUserInformationPartial", Model.UserInfomation)
        </div>
    </div>
    @*Go To Log Page*@
    <div class="buttonOuterPanel">
        <div class="buttonInnerPanel">
            @Html.ActionLink("Log", "Index", "Log")
        </div>
    </div>
    @*User Log History*@
    <div class="dashboardFoodLogPanel">
        <h2>Recent Activity</h2>
        @Html.Partial("_History", Model.UserHistory)
    </div>
</div>
