@model CalorieTracker.ViewModels.LogStatModel
<ul>
    <li>Remaining: @Model.remainingCal Calories</li>
    <li>Eaten: @Model.eatenCal Calories</li>
    <li>Burned: @Model.burnedCal Calories</li>
</ul>
