@model CalorieTracker.Models.tbl_user

@using (Ajax.BeginForm("Test", "Test", FormMethod.Post, null))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PersonnelModel</legend>

        <div id="result"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.user_first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_first_name)
            @Html.ValidationMessageFor(model => model.user_first_name)
        </div>
    </fieldset>
    <input type="submit" value="Ajax PsBk Click" />   
}