@model CalorieTracker.Models.User

<div id="" class="dashboardWelcome container wb">
    <div class="row centered" >
        <h4>Thanks You For Signing Up To Calorie Tracker</h4>
        <p>You New ID is <b>@Model.UserID</b> Please Do Not Loose It</p>
    </div>
</div>
