@model CalorieTracker.Models.User

<div class="dashboardWelcome container">
    <h3>Thanks You For Signing Up To Calorie Tracker</h3>
    <span>You New ID is <b>@Model.UserID</b> Please Do Not Loose It</span>
</div>
