@model CalorieTracker.Models.ViewModels.UserNutrientRDAModel
<!-- First Chart -->
<div class="col-lg-3">
    <canvas id="canvas" height="130" width="130"></canvas>
    <br>
    <script>
        var nutrientValue = @(Model.UserNutrientRDAValue) + 0;
        var doughnutData = [
            {
                value:  nutrientValue,
                color: "#3498db"
            },
            {
                value: 100 - nutrientValue,
                color: "#ecf0f1"
            }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
    </script>
    <p><b>@Model.UserNutrientRDA.Nutrient.Name</b></p>
    <p><small>Daily RDA = @Model.UserNutrientRDA.Value</small></p>
    <p><small>Max RDA For Timespan = @Model.MaxNutrientRDAValue</small></p>
</div>