@model CalorieTracker.Models.User

<h3>User Number @Model.UserID</h3>
<ul>
    <li>Number Of Logged Activities: @Model.FoodLogs.Count</li>
    <li>Number Of Logged Activities: @Model.ActivityLogs.Count</li>
    <li>Number Of Logged Metrics: @Model.MetricLogs.Count</li>
</ul>