@model CalorieTracker.Models.User
<div class="dashboardUserPanel">
    <h3 class="section-title">User Number @Model.UserID</h3>
    <div class="reverseShelf">
        <ul>
            <li>Number Of Logged Activities: @Model.FoodLogs.Count</li>
            <li>Number Of Logged Activities: @Model.ActivityLogs.Count</li>
            <li>Number Of Logged Metrics: @Model.MetricLogs.Count</li>
        </ul>
    </div>
</div>
